<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssstyle.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <title>Language Recognition</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        

  </style>
    </head>

  <body >
    
      <header style=" background-color: #90beef;
      padding: 15px;;
      color: white; ">
      <a href="/">  
        <img src="../static/images/logo1.png" style="width: 150px; height: 150px; margin-top: -43px">
      </a>
      
        
       <span class="sign"  ><a  href="/about">About Us</a></span> 
        <span class="sign"><a  href="/learn">Learn Sign</a></span>
        <span class="sign"><a  href="">Language Recognition</a></span>
     
        
    </header>
   
      
    <br>
    <br>
    <br>
     
     <h1 style="text-align: center; font-family: playfair display, serif;
      font-size: 2.5em; color: #071e42; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); margin-bottom: 20px">Sign Language Recognition System </h1>
     <br>
     <br>
     <style>
       button {
              margin: 0 auto;
              display: block;
              border-radius: .25rem;
              text-transform: uppercase;
              font-style: normal;
              font-weight: 400;
              padding-left: 25px;
              padding-right: 25px;
              color: #fff;
              -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
              clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
              height: 40px;
              font-size: 0.7rem;
              line-height: 14px;
              letter-spacing: 1.2px;
              transition: .2s .1s;
              background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
              border: 0 solid;
              overflow: hidden;
          }
          
          button:hover {
              cursor: pointer;
              transition: all .3s ease-in;
              padding-right: 30px;
              padding-left: 30px;
          }
          
     </style>



   <button id="getStartedButton" onclick="showContent()">Get Started</button>
  
  
      <div id="hiddenContent" style="display: none;">
         
          <div class="content-container">
              <div class="camera-feed-container">
                  <img src="{{ url_for('video_feed') }}" alt="Camera Feed">
              </div>
  
              <div class="recognized-box">
                  <h2>Recognized Sentences</h2>
                  <ul class="recognized-sentences-list">
  
                  </ul>
              </div>
          </div>
      </div>
  
      <script>
          
          var latestLabelUrl = "{{ url_for('latest_label') }}";
          let previousLabel = "";
  
          function fetchLatestLabel() {
              const recentLabelElement = document.querySelector('.recognized-sentences-list');
              if (recentLabelElement) {
                  fetch(latestLabelUrl)
                      .then(response => response.json())
                      .then(data => {
                          let newLabel = data.recent_label;
                          if (newLabel != null && newLabel !== previousLabel) {
                              previousLabel = newLabel;
                              let currentLabels = recentLabelElement.innerHTML;
                              if (currentLabels.includes("No label detected")) {
                                  currentLabels = "";
                              }
  
                              if (currentLabels.split(' ').length > 20) {
                                  recentLabelElement.innerHTML += '<br>';
                              }
  
                              recentLabelElement.innerHTML = currentLabels ? currentLabels + ' ' + newLabel : newLabel;
                          }
                      })
                      .catch(error => console.error('Error fetching latest label:', error));
              }
          }
  
          setInterval(fetchLatestLabel, 2000);
  
          // Function to show the hidden content
          function showContent() {
              var hiddenContent = document.getElementById('hiddenContent');
              hiddenContent.style.display = 'block';
          }
      </script>
    
  <script src="../static/jsfile.js"></script>
  </body>
    <hr>
        
                <div class="ourfooter mt-5">
                  <div class="container">
                      <footer class="py-5 w-100">
                        <div class="row">
                          <div class="col-6 col-md-2 mb-3">
                            <h5 style="font-family: playfair display;">Group Members</h5>
                            <ul class="nav flex-column">
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jasmine Thapa</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manika Gurung</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pradip Adhikari</a></li>
                              
                            </ul>
                          </div>
                    
                          <div class="col-6 col-md-2 mb-3">
                            <h5 style="font-family: playfair display;">Contact Number</h5>
                            <ul class="nav flex-column">
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">9814149385</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">9817199709</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">9846771986</a></li>
                              
                            </ul>
                          </div>
                    
                          <div class="col-6 col-md-2 mb-3">
                            <h5 style="font-family: playfair display;">Email address</h5>
                            <ul class="nav flex-column">
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">jasu.thapa.666@gmailcom</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">manikagrg614@gmail.com</a></li>
                              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">pradeepadr419@gmail.com</a></li>
                              
                            </ul>
                          </div>
                    
                          <div class="col-md-5 offset-md-1 mb-3">
                            
                          </div>
                        </div>
                    
                        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                          <p style="font-family: playfair display;">© 2024 Company, Inc. All rights reserved.</p>
                          
                        </div>
                      </footer>
                    </div>
              </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  
  
</html>